interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.core.ac.uk/v3/search/works?q=transformer&limit=2&apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"
        />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://api.core.ac.uk/v3/search/works/?q=transformer&amp;limit=2&amp;apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC'\"
        />\n\n        <title>Redirecting to https://api.core.ac.uk/v3/search/works/?q=transformer&amp;limit=2&amp;apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC</title>\n
        \   </head>\n    <body>\n        Redirecting to <a href=\"https://api.core.ac.uk/v3/search/works/?q=transformer&amp;limit=2&amp;apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC\">https://api.core.ac.uk/v3/search/works/?q=transformer&amp;limit=2&amp;apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC</a>.\n
        \   </body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://api.core.ac.uk/v3/search/works/?q=transformer&limit=2&apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Retry-After:
      - 2025-08-10T14:57:41+0000
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.core.ac.uk/v3/search/works/?q=transformer&limit=2&apiKey=m6wGMWAbg1ofdQu7SzIXx8vVj2OeaHkC
  response:
    body:
      string: '{"totalHits":397854,"limit":2,"offset":0,"results":[{"acceptedDate":"","arxivId":null,"authors":[{"name":"Delgado
        Restituto, Manuel"},{"name":"Masuch, Jens"},{"name":"Rodr\u00edguez V\u00e1zquez,
        \u00c1ngel Benito"}],"citationCount":0,"contributors":["Universidad de Sevilla.
        Departamento de Electr\u00f3nica y Electromagnetismo"],"outputs":["https:\/\/api.core.ac.uk\/v3\/outputs\/286563635"],"createdDate":"2020-01-29T21:21:02","dataProviders":[{"id":1582,"name":"","url":"https:\/\/api.core.ac.uk\/v3\/data-providers\/1582","logo":"https:\/\/api.core.ac.uk\/data-providers\/1582\/logo"}],"depositedDate":"","abstract":"A
        low power transceiver architecture for the 2.4 GHz ISM band using a 1.0 V
        supply is presented. It employs a transformer to convert the 100 \u03a9 antenna
        impedance to almost 1 k\u03a9 and so facilitates a low power transmitter and
        receiver. The simulated post-layout output power of the differential class-E
        power amplifier is 2.0 dBm with a drain efficiency of 28.4%. The direct-conversion
        receiver achieves a very low power consumption of 420 \u03bcW and a noise
        figure of 15.0 dB.Ministerio de Ciencia e Innovaci\u00f3n TEC2009-08447Junta
        de Andaluc\u00eda TIC-0281","documentType":"research","doi":"10.1109\/apccas.2010.5774893","downloadUrl":"https:\/\/core.ac.uk\/download\/286563635.pdf","fieldOfStudy":null,"fullText":"2010
        Asia Pacific Conference on Circuits and Systems (APCCAS 2010)6 - 9 December
        2010, Kuala Lumpur, MalaysiaTransformer based front-end for a low power2.4
        GHz transceiverJens Masuch, Manuel Delgado-Restituto and A\u00b4ngel Rodr\u0131\u00b4guez-Va\u00b4zquezInstitute
        of Microelectronics of Seville (IMSE-CNM-CSIC) - University of SevilleEmail:
        {masuch,mandel,angel}@imse-cnm.csic.esAbstract\u2014A low power transceiver
        architecture for the2.4 GHz I[...]
