interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?search=transformer&per_page=2
  response:
    body:
      string: '{"meta":{"count":852003,"db_response_time_ms":175,"page":1,"per_page":2,"groups_count":null},"results":[{"id":"https://openalex.org/W2896457183","doi":"https://doi.org/10.48550/arxiv.1810.04805","title":"BERT:
        Pre-training of Deep Bidirectional Transformers for Language Understanding","display_name":"BERT:
        Pre-training of Deep Bidirectional Transformers for Language Understanding","relevance_score":8879.957,"publication_year":2018,"publication_date":"2018-01-01","ids":{"openalex":"https://openalex.org/W2896457183","doi":"https://doi.org/10.48550/arxiv.1810.04805","mag":"2896457183"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://arxiv.org/abs/1810.04805","pdf_url":null,"source":{"id":"https://openalex.org/S4306400194","display_name":"arXiv
        (Cornell University)","issn_l":null,"issn":null,"is_oa":true,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":false,"host_organization":"https://openalex.org/I205783295","host_organization_name":"Cornell
        University","host_organization_lineage":["https://openalex.org/I205783295"],"host_organization_lineage_names":["Cornell
        University"],"type":"repository"},"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":"submittedVersion","is_accepted":false,"is_published":false},"type":"preprint","type_crossref":"posted-content","indexed_in":["datacite"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://arxiv.org/abs/1810.04805","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5057457287","display_name":"Jacob
        Devlin","orcid":null},"institutions":[{"id":"https://openalex.org/I1291425158","display_name":"Google
        (United States)","ror":"https://ror.org/00njsd438","country_code":"US","type":"funder","lineage":["https://openalex.org/I1291425158","https://openalex.org/I4210128969"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Jacob
        Devlin","raw_affiliation_strings":["Google,,,,,"],"affiliations":[{"raw_affiliation_string":"Google,,,,,","institution_ids":["https://openalex.org/I1291425158"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5076904467","display_name":"Ming\u2010Wei
        Chang","orcid":"https://orcid.org/0000-0002-0137-8895"},"institutions":[{"id":"https://openalex.org/I1291425158","display_name":"Google
        (United States)","ror":"https://ror.org/00njsd438","country_code":"US","type":"funder","lineage":["https://openalex.org/I1291425158","https://openalex.org/I4210128969"]}],"countries":["US"],"is_corres[...]
