interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=transformer&offset=0&limit=2&fields=title%2Cabstract%2Cauthors%2Cyear%2Cvenue%2CexternalIds%2CopenAccessPdf%2CcitationCount
  response:
    body:
      string: '{"total": 290322, "offset": 0, "next": 2, "data": [{"paperId": "c8b25fab5608c3e033d34b4483ec47e68ba109b7",
        "externalIds": {"ArXiv": "2103.14030", "DBLP": "conf/iccv/LiuL00W0LG21", "DOI":
        "10.1109/ICCV48922.2021.00986", "CorpusId": 232352874}, "title": "Swin Transformer:
        Hierarchical Vision Transformer using Shifted Windows", "venue": "IEEE International
        Conference on Computer Vision", "year": 2021, "citationCount": 22614, "openAccessPdf":
        {"url": "http://arxiv.org/pdf/2103.14030", "status": "GREEN", "license": null,
        "disclaimer": "Notice: Paper or abstract available at https://arxiv.org/abs/2103.14030,
        which is subject to the license by the author or copyright owner provided
        with this content. Please go to the source to verify the license and copyright
        information for your use."}, "authors": [{"authorId": "2109371439", "name":
        "Ze Liu"}, {"authorId": "51091819", "name": "Yutong Lin"}, {"authorId": "2112823372",
        "name": "Yue Cao"}, {"authorId": "1823518756", "name": "Han Hu"}, {"authorId":
        "2107995927", "name": "Yixuan Wei"}, {"authorId": "2148904543", "name": "Zheng
        Zhang"}, {"authorId": "145676588", "name": "Stephen Lin"}, {"authorId": "2261753424",
        "name": "B. Guo"}], "abstract": "This paper presents a new vision Transformer,
        called Swin Transformer, that capably serves as a general-purpose backbone
        for computer vision. Challenges in adapting Transformer from language to vision
        arise from differences between the two domains, such as large variations in
        the scale of visual entities and the high resolution of pixels in images compared
        to words in text. To address these differences, we propose a hierarchical
        Transformer whose[...]
